[alias]
	last = log -1 HEAD
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	ps = push
	pl = pull
	lo = log
[core]
	editor = code --wait
	excludesfile = /Users/noam/.gitignore_global
[user]
	name = noam
	email = noamkadosh91@gmail.com
[init]
	defaultBranch = main
[pull]
	rebase = false
	twohead = ort
[rerere]
	enabled = true
[delta]
    navigate = true