[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:noamkadosh/.nvim.git
[submodule ".config/zellij/plugins_src/statusbar"]
	path = .config/zellij/plugins_src/statusbar
	url = git@github.com:noamkadosh/.zellij-statusbar.git
[submodule ".config/keyboards/adv360_pro_zmk"]
	path = .config/keyboards/adv360_pro_zmk
	url = git@github.com:noamkadosh/.adv360_pro_zmk.git
[submodule ".config/obsidian"]
	path = .config/obsidian
	url = git@github.com:noamkadosh/.obsidian.git
