[alias]
	last = log -1 HEAD
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	ps = push
	pl = pull
	lo = log
[core]
	editor = nvim
	excludesfile = /Users/noam/.gitignore_global
    pager = delta
[interactive]
    diffFilter = delta --color-only
[user]
	name = noam
	email = noamkadosh91@gmail.com
[init]
	defaultBranch = main
[include]
    path = /Users/noam/.config/delta/themes/tokyonight_night.gitconfig
[pull]
	rebase = false
    twohead = ort
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[rerere]
	enabled = true
[delta]
	features = tokyonight_night
    hyperlinks = true
    navigate = true
    side-by-side = true
[push]
	autoSetupRemote = true
[credential]
	helper = osxkeychain
