layout {
    // Pane templates
    pane_template name="editor"
    pane_template name="terminal"
    pane_template name="statusbar" {
        // NOTE: Zellij wants absolute path only
        plugin location="file:///Users/noam/.dotfiles/.config/zellij/plugins/statusbar.wasm"
    }

    // Tab templates
    tab_template name="turbo" {
        floating_panes {
            terminal name="TERMINAL" cwd="Developer/turbo"
        }
        editor name="EDITOR" cwd="Developer/turbo"
        statusbar size=1 borderless=true
    }
    tab_template name="dotfiles" {
        floating_panes {
            terminal name="TERMINAL" cwd=".dotfiles"
        }
        editor name="EDITOR" cwd=".dotfiles"
        statusbar size=1 borderless=true
    }
    tab_template name="notes" {
        floating_panes {
            terminal name="TERMINAL" cwd=".dotfiles/.config/obsidian"
        }
        editor name="EDITOR" cwd=".dotfiles/.config/obsidian"
        statusbar size=1 borderless=true
    }

    default_tab_template {
        pane
        statusbar size=1 borderless=true
    }

    // Layout
    turbo name="TURBO" focus=true
    dotfiles name="DOTFILES"
    notes name="NOTES"
}
